
/* @import "~bootstrap/scss/bootstrap"; */

:root {
    --text-color: #fff;
    --theme-color: #00D3FF;
    --background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
}

h2 {
  // --theme-color: #b5f0fc;
  color: var(--theme-color);
  font-weight: bolder;
}

// p {
//     margin: 20px;
//   }

.spinner {
  // color: #f1610,
  font-weight: 5rem;
  height:3rem;
  width:3rem;
  margin:auto;
  display:block;
}

.select-language {
  width: 120px;
  margin: 10px;
  font-size: 100px;
  
  i {
    color: var(--theme-color);
    font-size: 20px;
  }
}


.navbar {
    color: var(--text-color);
    background-color: var(--theme-color);
    // position: sticky;
    // display: flex;
    // -ms-flex-wrap: wrap;
    // flex-wrap: wrap;
    // -ms-flex-align: center;
    // align-items: center;
    // -ms-flex-pack: justify;
    justify-content: "space-between";
    padding-top: 1rem;
    padding-bottom: 1rem;
    /* box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2); */
  }

.nav-link {
    margin: 10px;
    align-content: center;
    padding: .5rem 1rem;
    color: var(--text-color);
    text-decoration: none;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out
}

.navbar-toggler {
    color: var(--text-color);
    padding: .25rem .75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: var(--theme-color);
    transition: box-shadow .15s ease-in-out
}

.navbar-brand {
    /* padding-top: .3125rem;
    padding-bottom: .3125rem; */
    color: var(--text-color);
    text-decoration: none;
    white-space: nowrap;
    font-weight: bolder;
    font-size: 2rem;
}

Header {
    padding-bottom: 10px;
}

/* HomeScreen */

.school-motto {
    text-align: center;
    padding-top: 5%;
    padding-bottom: none;
    color: #00D3FF;
    z-index: 100;
}

.school-vision {
    background-color: var(--theme-color);
    text-align: center;
    color: var(--text-color);
    justify-content: center;

    h3 {
      font-weight: bolder;
      // padding-bottom: 5px;
    }

    p {
      margin-top: 20px;
    }
}

.about-us {
    
  Col {
    margin-top: auto;
    margin-bottom: auto;
  }

  h2 {
    font-weight: bolder;
    padding-bottom: 5%;
    color: var(--theme-color);
    text-align: center;
  }

  p {
    margin: 20px 20px 20px 20px;
  }
}


.testimonies {
  // align-content: center;
  text-align: center;
  background-color: #E9E9E9;
  padding-bottom: 5%;

  Image {
    border-radius: 50%;
    border: 3px solid var(--theme-color);
  }
}

.contact-us {
    

  i {
    position: relative;
    background: var(--background-image);
    color: var(--text-color);
    padding: 2rem;
    border-radius: 50%;
    font-size: 2rem;
    margin-bottom: 10px;
    // padding-left: 10px;
  }
  
}




@media (max-width:450px) {
  .contact-us {
    i {
      position: relative;
      background: var(--background-image);
      color: var(--text-color);
      padding: 10px;
      border-radius: 50%;
      font-size: 1rem;
      
      // padding-left: 10px;
    }
  }
  

  .about-us {
    .image2-about{
      display: none;
    }
  }

  .school-vision {
    p {
      padding-bottom: 5px;
      margin-top: 1px;
    }
  }
    
  
    .button {
      font-size: 11px;
      size: 1rem;
    }
    body {
      font-size: 11px;
    }  
    .h1,
    h1 {
      font-size: 1.5rem;
    }
    .h2,
    h2 {
      font-size: 1.5rem
    }
    .h3,
    h3 {
      font-size: 1rem
    } 
    .h4,
    h4 {
      font-size: 1.5rem
    }
    
    .h5,
    h5 {
      font-size: 1rem
    }
    
    .h6,
    h6 {
      font-size: 0.95rem
    }
  }